<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="A game of survival">
    <meta name="author" content="David Moritz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thrive</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="inc/thrive.css">
    <script src="inc/angular.js"></script>
  </head>
  <body ng-app="thriveApp" ng-controller="ThriveCtrl">
    <div ng-if="!isUnlocked(&quot;win&quot;)" class="container">
      <header class="hide">
        <h1>Thrive!</h1>
      </header>
      <div class="jumbotron">
        <h2>{{display.text}}</h2>
        <button ng-show="display.next" ng-click="nextMessage()" class="btn btn-default">Next <i class="fa fa-chevron-right"></i></button>
        <div ng-show="!display.next" class="choices">
          <ul>
            <li ng-repeat="choice in display.choices">
              <button ng-click="makeChoice(choice)" ng-class="choice.css.join(&quot; &quot;)">{{choice.buttonText}}</button>
            </li>
          </ul>
        </div>
      </div>
      <div ng-if="location &amp;&amp; !decisionToMake" class="row mainLayout">
        <div class="col-sm-6">
          <div>
            <h3>Location: {{location.display}}</h3>
          </div>
          <div>
            <h3>Get More Resources</h3>
            <button ng-repeat="resource in HF.resources" ng-click="addToSupply(resource)" ng-disabled="!readyToWork" ng-show="isUnlocked(resource.name)" class="btn btn-primary resource"><i class="fa {{resource.icon}}"></i> {{resource.text}}</button>
          </div>
          <div>
            <h3>Build</h3>
            <button ng-repeat="structure in HF.structures" ng-click="build(structure)" ng-show="isUnlocked(structure.name)" class="btn btn-success structure"><i class="fa {{structure.icon}}"></i> {{structure.text}} <span class="badge">{{getStructurePrice(structure)[0].amount}}</span></button>
          </div>
        </div>
        <div class="col-sm-6">
          <h4>Workers</h4>
          <ul>
            <li ng-repeat="worker in workers"><a ng-class="{workerSelected: isSelected(worker)}" ng-click="toggleWorkerSelection(worker)">{{worker.name}}: ({{worker.task.displayName()}} <i ng-class="worker.task.getIcon()" class="fa"></i>)</a><a ng-click="removeWorker(worker)"><i class="fa fa-times-circle"></i></a></li>
          </ul>
          <h4>Supply</h4>
          <ul>
            <li ng-repeat="palette in supply">{{HF.capitalize(palette.resource.name)}} <i ng-class="palette.resource.icon" class="fa"></i>: ({{palette.quantity}})</li>
          </ul>
          <h4>Plot</h4>
          <ul>
            <li ng-repeat="lot in lots">{{HF.capitalize(lot.structure.name)}} <i ng-class="lot.structure.icon" class="fa"></i>: ({{lot.quantity}})<a ng-click="removeStructure(lot.structure)"><i class="fa fa-times-circle"></i></a></li>
          </ul>
        </div>
      </div>
      <button ng-show="!gameStarted" ng-click="startGame()" class="btn btn-primary"><i class="fa fa-play"></i> Start</button>
      <footer class="clear">
        <p>Created by David &amp; Jeremy Moritz</p>
      </footer>
    </div>
    <div ng-if="isUnlocked(&quot;win&quot;)" class="container">
      <div class="jumbotron">
        <h1>Congratulations! You built a monument to your success!</h1>
        <h4>It only took you {{turns / 20}} minutes.</h4>
      </div>
    </div><script src="inc/lib.js"></script><script src="inc/thrive.js"></script>
  </body>
</html>
