<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="A game of survival">
    <meta name="author" content="David Moritz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thrive</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="inc/thrive.css">
    <script src="inc/angular.js"></script>
  </head>
  <body ng-app="thriveApp" ng-controller="ThriveCtrl">
    <div ng-show="!unlocked.win" class="container">
      <header class="hide">
        <h1>Thrive!</h1>
      </header>
      <div class="jumbotron">
        <h2>{{display.text}}</h2>
        <button ng-show="display.next" ng-click="nextMessage()" class="btn btn-default">Next</button>
        <div ng-show="!display.next" class="choices">
          <ul>
            <li ng-repeat="choice in display.choices">
              <button ng-click="makeChoice(choice.choose)" ng-class="choice.class">{{choice.text}}</button>
            </li>
          </ul>
        </div>
      </div>
      <div ng-show="!choice" class="row mainLayout">
        <div class="col-sm-6">
          <div>
            <h3>Location: {{location}}</h3>
          </div>
          <div>
            <h3>Add New Resource</h3>
            <button ng-repeat="resource in resourceTypes" ng-click="addToSupply(resource.name)" ng-disabled="pause[resource.name]" ng-show="unlocked[resource.name]" class="btn btn-primary resource"><i class="fa {{resource.icon}}"></i> {{resource.text}}</button>
          </div>
          <div>
            <h3>Build</h3>
            <button ng-repeat="building in buildingTypes" ng-click="build(building.name)" ng-show="unlocked[building.name]" class="btn btn-success building"><i class="fa {{building.icon}}"></i> {{building.text}}</button>
          </div>
        </div>
        <div class="col-sm-6">
          <h4>Followers</h4>
          <ul>
            <li ng-repeat="follower in followers"><a ng-class="{followerSelected: isSelected(follower)}" ng-click="toggleFollowerSelection(follower)">{{follower.name}}: ({{follower.task.name}})</a><a ng-click="removeFollower(follower)"><i class="fa fa-times-circle"></i></a></li>
          </ul>
          <h4>Supply</h4>
          <ul>
            <li ng-repeat="resource in supply">{{resource.type}}: ({{resource.quantity}})</li>
          </ul>
          <h4>Plot</h4>
          <ul>
            <li ng-repeat="lot in plot">{{lot.type}}: ({{lot.quantity}})<a ng-click="removeStructure(lot.type)"><i class="fa fa-times-circle"></i></a></li>
          </ul>
        </div>
      </div>
      <button ng-show="!gameStart" ng-click="startGame()" class="btn btn-primary"><i class="fa fa-play"></i> Start</button>
      <footer class="clear">
        <p>Created by David Moritz</p>
      </footer>
    </div>
    <div ng-show="unlocked.win">
      <div class="jumbotron">
        <h1>Congratulations! You built a monument!</h1>
        <h4>It only took you {{minutes}} minutes.</h4>
      </div>
    </div><script src="inc/lib.js"></script><script src="inc/thrive.js"></script>
  </body>
</html>