doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='description', content='A game of survival')
		meta(name='author', content='David Moritz')
		//- for Bootstrap
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Thrive
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='inc/thrive.css')
		script(src='inc/angular.js')
	body(ng-app='thriveApp', ng-controller='ThriveCtrl')
		.container(ng-show='!unlocked.win')
			header.hide
				h1 Thrive!
			.jumbotron
				h2 {{display.text}}
				button.btn.btn-default(ng-show='display.next', ng-click='nextMessage()') Next
				.choices(ng-show='!display.next')
					ul
						li(ng-repeat='choice in display.choices')
							button(ng-click='makeChoice(choice.choose)', ng-class='choice.class') {{choice.text}}
			.row.mainLayout(ng-show='!choice')
				.col-sm-6
					div
						h3 Location: {{location}}
					div
						h3 Add New Resource
						button.btn.btn-primary.resource(ng-repeat='resource in resourceTypes' ng-click="addToSupply(resource.name)", ng-disabled='!ready[resource.name]', ng-show='unlocked[resource.name]') #[i.fa.{{resource.icon}}] {{resource.text}}
					div
						h3 Build
						button.btn.btn-success(ng-repeat='building in buildingTypes' ng-click="build(building.name)", ng-show='unlocked[building.name]') #[i.fa.{{building.icon}}] {{building.text}}
				.col-sm-6
					h4 Followers
					ul
						li(ng-repeat='follower in followers')
							a(ng-class='{followerSelected: isSelected(follower)}' ng-click='toggleFollowerSelection(follower)') {{follower.name}}: ({{follower.task.name}})
							a(ng-click='removeFollower(follower)') #[i.fa.fa-times-circle]
					h4 Supply
					ul
						li(ng-repeat='resource in supply') {{resource.type}}: ({{resource.quantity}})
					h4 Plot
					ul
						li(ng-repeat='lot in plot')
							| {{lot.type}}: ({{lot.quantity}})
							a(ng-click='removeStructure(lot.type)') #[i.fa.fa-times-circle]
			button.btn.btn-primary(ng-show='!gameStart' ng-click='startGame()') #[i.fa.fa-play] Start
			footer.clear
				p Created by David Moritz
		div(ng-show='unlocked.win')
			.jumbotron
				h1 Congratulations! You built a monument!
				h4 It only took you {{turns}} turns.
		| @@javascriptReplaceFiles
