
//- this is just here as an example until we think of a more useful mixin
//- the way to use this is to put something like this in the jade file:      +faIcon('fa-play')
mixin faIcon(iconClass)
	i.fa(class=iconClass)
