/***	War stylesheet ***/

/*html5 display rule (for older browsers to display these html5 tags as block level elements)*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display:block}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

input {
	color: black;
}

.followerSelected {
    font-weight: bold;
    color: black;
}

.choices ul {
    list-style-type: none;
}
.choices li {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

/* War styles */
.card-big {
	background-image: url('_inc/cards_big.png');
	width: 192px;
	height: 264px;
	border: maroon groove 6px;
/*
	width: 180px;
	height: 253px;
	border: 0;
*/	
}
.card-reg {
	background-image: url('_inc/cards.png'); 
	width: 101px;
	height: 137px;
	border: maroon groove 6px;
/*
	width: 91px;
	height: 127px;
*/
}
.card-small {
	background-image: url('_inc/cards_small.png');	
	width: 46px;
	height: 64px;
	border: solid black 1px;
/*
	width: 46px;
	height: 64px;
*/
}
.cardList {
	list-style-type: none;
	li {
		padding: 2px;
		display: inline-block;
	}
}
.playerCards li {
	display: inline-block;
	margin: 1px;
}
/* SUITS */
.Spades-lg	{ background-position-y: -20px}
.Clubs-lg	{ background-position-y: -294px}
.Diamonds-lg	{ background-position-y: -572px}
.Hearts-lg	{ background-position-y: -850px}

.Spades-rg	{ background-position-y: -11px}
.Clubs-rg	{ background-position-y: -148px}
.Diamonds-rg	{ background-position-y: -287px}
.Hearts-rg	{ background-position-y: -426px}

.Spades-sm		{ background-position-y: -6px}
.Clubs-sm		{ background-position-y: -74px}
.Diamonds-sm	{ background-position-y: -144px}
.Hearts-sm		{ background-position-y: -213px}

/* VALUES */
/* (value - 1) * 180 + 19 */
.Two-lg		{ background-position-x: 199px}
.Three-lg		{ background-position-x: 379px}
.Four-lg		{ background-position-x: 559px}
.Five-lg		{ background-position-x: 739px}
.Six-lg		{ background-position-x: 919px}
.Seven-lg		{ background-position-x: 1099px}
.Eight-lg		{ background-position-x: 1279px}
.Nine-lg		{ background-position-x: 1459px}
.Ten-lg		{ background-position-x: 1639px}
.Jack-lg		{ background-position-x: 1819px}
.Queen-lg		{ background-position-x: 1999px}
.King-lg		{ background-position-x: 2179px}
.Ace-lg		{ background-position-x: 2359px}

/* (value - 1) * 90 + 9 */
.Two-rg		{ background-position-x: 99px}
.Three-rg		{ background-position-x: 189px}
.Four-rg		{ background-position-x: 279px}
.Five-rg		{ background-position-x: 369px}
.Six-rg		{ background-position-x: 459px}
.Seven-rg		{ background-position-x: 549px}
.Eight-rg		{ background-position-x: 639px}
.Nine-rg		{ background-position-x: 729px}
.Ten-rg		{ background-position-x: 819px}
.Jack-rg		{ background-position-x: 909px}
.Queen-rg		{ background-position-x: 999px}
.King-rg		{ background-position-x: 1089px}
.Ace-rg		{ background-position-x: 1179px}

/* (value - 1) * 45 + 4 */
.Two-sm		{ background-position-x: 49px}
.Three-sm		{ background-position-x: 94px}
.Four-sm		{ background-position-x: 139px}
.Five-sm		{ background-position-x: 184px}
.Six-sm		{ background-position-x: 229px}
.Seven-sm		{ background-position-x: 274px}
.Eight-sm		{ background-position-x: 319px}
.Nine-sm		{ background-position-x: 364px}
.Ten-sm		{ background-position-x: 409px}
.Jack-sm		{ background-position-x: 454px}
.Queen-sm		{ background-position-x: 499px}
.King-sm		{ background-position-x: 544px}
.Ace-sm		{ background-position-x: 589px}

.container h3 {
	margin-top:0;
}
.container h2 {
	color: black;
	text-shadow: white 0 0 2px;
}

	/* STYLE CLASSES (ALL PAGES) */
.hide {display:none}
.center {text-align:center}
.clear {clear:both}
.hidden {display:none} 
.left {float:left}
.right {float:right}
.enlarge {cursor:pointer}
.overlarge {display:none; position:absolute}
.hider {float:right; clear:right}
.hider:hover {cursor:pointer}